<footer>
  <a id="contact"></a>
  <div class="container container--footer">

    <h3 id="team">Meet the Organizers</h3>

    <ul class="team">
      <li class="team__inner">
        <h4>Anna Yukiko Bickenbag</h4>
        <img src="/images/team_anna_bw.jpg" alt="Anna Yukiko Bickenbach">
        <a href="http://twitter.com/kriesse" title="Anna Yukiko Bickenbach">@BGreenYukiko</a>
      </li>
      <li class="team__inner">
        <h4>Chris Adams</h4>
        <img src="/images/team_chris_bw.jpg" alt="Chris Adams">
        <a href="http://twitter.com/mrchrisadams">@mrchrisadams</a>
        <a href="http://chrisadams.me.uk" title="Max Fellmuth">chrisadams.me.uk</a>
        <a href="http://productscience.co.uk" class="hide-on-print">Product Science</a>
      </li>
      <li class="team__inner">
        <h4>Darina Onoprienko</h4>
        <img src="/images/team_darina_bw.jpg" alt="Darina Onoprienko">
        <a href="https://twitter.com/DOnoprienko">@DOnoprienko</a>
      </li>
      <li class="team__inner">
        <h4>Philipp Mahr</h4>
        <img src="/images/team_philipp_bw.jpg" alt="Philipp Mahr">
        <a href="https://twitter.com/phimahr" title="Philipp Mahr on Twitter">@phimahr</a>
      </li>
    </ul>

    <h3>Code of Conduct</h3>

    <p>
      If you are attending, organizing or speaking at our event, you are required to agree with the <a href="http://berlincodeofconduct.org/">Berlin Code of Conduct</a>. If you encounter or observe any behaviour that is not in line with the Code of Conduct, please contact one of our team members by talking to us directly or tweeting to us at <a href="https://twitter.com/cleanwebberlin">@cleanwebberlin</a> or at our personal twitter accounts. – <a href="http://twitter.com/mrchrisadams">Chris</a>, <a href="http://twitter.com/BGreenYukiko" title="Anna Yukiko Bickenbach on Twitter">Anna</a>, <a href="https://twitter.com/phimahr">Philipp</a>, <a href="http://twitter.com/kriesse" title="Kristina Schneider on Twitter">Darina</a>.
    </p>

    <h3>Contact</h3>

    <p>
      <a href="http://twitter.com/cleanwebberlin">Follow us on Twitter</a>
      |
      <a href="http://www.facebook.com/pages/XXXXXXXX">Join us on Facebook</a>
      |
      <a href="http://groups.google.com/group/upfront_ug">Join our Mailinglist</a>
    <p>

  </div>
</footer>
