<header class="header">
  <div class="container">
    <div class="wrapper">
      <div class="header__logo">
        <a href="/" title="Home" class="logo">
          <img src="/images/logo-cleanweb-berlin.png" alt="" />
        </a>
      </div>

      <div class="header__details">
        <div class="tagline">
          Cleanweb Berlin is a monthly meetup <br/>
          for web and sustainability professionals in Berlin
        </div>

        <nav class="hide-on-print">
          <a href="/archive/">Events</a>
          <a href="/about/">About</a>
          <a href="/submit/">Submit a Talk</a>        </nav>
      </div>
    </div>

  </div>
</header>
