<head>
  <meta charset="utf-8" />

  <title>Cleanweb Berlin – Where web and sustainability meet</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Cleanweb Berlin – Where web and sustainability meet" />
  <meta property="og:type" content="example:usergroup" />
  <meta property="og:url" content="http://cleanweb.berlin" />
  {% comment %}

  {% endcomment %}
  <!--  <meta property="og:image" content="http://up.front.ug/images/upfront-fb-cover-63.png" /> -->
  <meta property="og:site_name" content="http://cleanweb.berlin" />
  <meta property="og:description" content="Cleanweb Berlin is a monthly meetup <br/>
  for web and sustainability professionals in Berlin. Everyone is welcome to participate, either by attending or giving a talk themselves." />

  <meta name="keywords" content="UX, UI, community, Design, Webdesign, HTML, CSS, Coding, web development, Berlin, meetup, environment, sustainability, cleantech">
  <meta name="description" content="Cleanweb Berlin is a monthly meetup <br/>
  for web and sustainability professionals in Berlin. Everyone is welcome to participate, either by attending or giving a talk themselves.">
  <link rel="author" href="/humans.txt" />

  <style>
    article, aside, dialog, figure, footer, header,
    hgroup, menu, nav, section { display: block; }
  </style>

  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
