<p>
  Cleanweb Berlin meetups happen roughly month (except during our summer and winter breaks), usually on the third Tuesday of the month. The next Cleanweb Berlin meetups are scheduled for:
</p>
<ul class="list-next-events">
  <li>
    <span>#15</span>
    Tue, Oct 25 2016
  </li>
  <li>
    <span>#16</span>
    Tue, Nov 22 2016
  </li>
</ul>
 <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
