
<div class="newsletter">
    <h3 id="newsletter">Join our Newsletter</h3>
    <p>
        Sign up below to join our monthly newsetter, full of events, and interesting links we've found between our meetups.
    </p>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="//productscience.us8.list-manage.com/subscribe/post?u=1151cf8076b7bc6d2a1baad10&amp;id=f612217f11" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

                <div class="mc-field-group">
                    <fieldset>
                        <label for="mce-EMAIL">Email Address </label>
                        <input type="email" value="" name="EMAIL" class="form-text required email" id="mce-EMAIL">
                    </fieldset>

                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn"></div>

                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1151cf8076b7bc6d2a1baad10_f612217f11" tabindex="-1" value=""></div>
                </div>

            </div>
    </div>
    </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
    (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
<!--End mc_embed_signup-->

<p>
    We'll only ever use it your email address for this newsletter, and you can easily unsubscribe at any time.
    <a href="http://us8.campaign-archive2.com/home/?u=1151cf8076b7bc6d2a1baad10&id=f612217f11" title="View previous campaigns">See previous newsletters.</a>
</p>



</div>
