$red: #fe5048;
$red--light: #FFDCDA;

$green: #A1DA54;
$green--light: #BCFA7D;
$green--muted: #9BC66F;
$green--darker: #7D9D5D;

$blue: #4155E9;
$blue--light: #d9ddfb;

$grey: #3C3D3C;
$grey--light: #e9e9e9;
$grey--medium: #9D9E9D;
$black: #131313;

$border-width: 2px;
